---
import Header from "../components/Header/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Footer from "../components/Footer.astro";
import { TechnologySection } from '../components/Technology/TechnologySection';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="transition-colors bg-slate-100 dark:bg-neutral-900">
    <Header />
    <main>
      <section class="flex relative justify-center items-center mb-6 h-[60dvh] bg-neutral-900 sm:h-[70dvh]">
        <div class="overflow-hidden absolute w-full h-full opacity-50 transition-all dark:opacity-50 dark:bg-neutral-900">
          <img
            src="/calm-home.jpg"
            alt="A table with a laptop, a cup of coffee and a mouse"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="px-8 text-center z-2 drop-shadow-lg shadow-black">
          <h2
            class="font-black text-center text-orange-700 transition-colors text-[3rem] text-1xl sm:text-[5rem]"
          >
            Welcome!
          </h2>
          <h1 class="font-bold text-center sm:text-3xl text-[1.2rem] text-slate-100">I write about of what I like and a little bit about me.</h1>
        </div>
      </section>
      <section class="h-[calc(40dvh-84px)] sm:h-[calc(30dvh-84px)] md:h-[calc(30dvh-120px)] flex flex-col justify-center">
        <h3 class="text-xl font-bold text-center text-orange-700 align-middle transition-colors dark:text-zinc-300">
          I'm a software developer.
        </h3>
        <p
          class="text-center transition-colors dark:text-orange-700 text-zinc-700"
        >
          My career starts in January 2020, but I've
          been coding since 2018.
        </p>
      </section>
      <TechnologySection client:load />
    </main>
    <Footer />
  </body>
</html>
