---
import Header from "../components/Header/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Footer from "../components/Footer.astro";
import { TechnologySection } from '../components/Technology/TechnologySection';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="transition-colors bg-slate-100 dark:bg-neutral-900">
    <Header />
    <main>
      <section class="flex relative justify-center items-center mb-6 h-80">
        <div class="overflow-hidden absolute w-full h-full bg-neutral-50 opacity-90">
          <img
            src="/calm-home.jpg"
            alt="A table with a laptop, a cup of coffee and a mouse"
            class="object-cover w-full h-full opacity-100"
          />
        </div>
        <div class="px-8 text-center z-2 drop-shadow-lg shadow-black">
          <h2
            class="text-[3rem] font-bold text-center text-orange-700 transition-colors sm:text-2xl text-1xl"
          >
            Welcome!
          </h2>
          <h1 class="text-2xl font-bold text-center sm:text-3xl text-zinc-100">
            This is a personal website, I write about of what I like and a
            little bit about me.
          </h1>
        </div>
      </section>
      <section class="my-[56px]">
        <h3 class="text-xl font-bold text-center text-orange-700 transition-colors dark:text-zinc-300">
          I'm a software developer.
        </h3>
        <p
          class="text-center transition-colors dark:text-orange-700 text-zinc-700"
        >
          My career starts in January 2020, but I've
          been coding since 2018.
        </p>
      </section>
      <TechnologySection client:load />
    </main>
    <Footer />
  </body>
</html>
