---
import { HeaderLink } from "./HeaderLink";
import { SITE_TITLE, AUTHOR_NAME } from "../../consts";
import { ThemeToggleButton } from "./ThemeToggleButton";
import LogoIcon from "../icons/Logo";
---

<header class="py-2 transition-colors bg-slate-100 dark:bg-neutral-900">
  <nav
    class="flex justify-between items-center px-[2rem] md:px-[3rem] md:py-[1rem]"
  >
    <a href="/" class="flex gap-2 items-center">
      <LogoIcon
        className="mb-2 transition-colors dark:text-orange-700 text-[2.0rem] text-zinc-900"
      />
      <div
        class="gap-2 transition-colors text-decoration-line: none; text-[1rem] md:flex md:text-[1.5rem] font-bold text-zinc-600 dark:text-zinc-50"
      >
        <h2 class="hidden md:block transition-colors dark:text-orange-700 text-zinc-900">
          {SITE_TITLE}
        </h2>
        <span class="hidden md:block">by</span>
        <h2 class="text-orange-700 transition-colors dark:text-zinc-100">
          {AUTHOR_NAME}
        </h2>
      </div>
    </a>
    <div class="flex items-center">
      <div class="hidden gap-8 items-center mr-8 md:flex">
        <HeaderLink client:only href="/">Home</HeaderLink>
      </div>
      <ThemeToggleButton client:load />
    </div>
  </nav>
</header>
