---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];

const isSelected = isActive ? "font-bold text-orange-700 dark:text-orange-600" : "";
---

<a
  href={href}
  class={`text-zinc-900 dark:text-zinc-50 ${isSelected} transition-colors`}
>
  <slot />
</a>
