---
import { FaGithub, FaLinkedinIn } from "react-icons/fa";
const today = new Date();
import { AUTHOR_NAME  }  from '../consts.ts'
---

<footer class="text-center transition-colors py-[4rem] text-zinc-900 dark:text-zinc-100">
  &copy; {today.getFullYear()} { AUTHOR_NAME }. All rights reserved.
  <div class="flex justify-center mt-2 gap-[1rem]">
    <a
      href="https://www.linkedin.com/in/isaacmirandacampos/"
      class="transition-colors text-zinc-900 dark:text-zinc-100"
      title="Go to my personal LinkedIn"
      target="_blank"
    >
      <FaLinkedinIn aria-label="Linkedin icon" size="32" />
    </a>
    <a
      href="https://github.com/isaacmirandacampos"
      class="transition-colors text-zinc-900 dark:text-zinc-100"
      title="Go to my personal Github"
      target="_blank"
    >
      <FaGithub aria-label="Github icon" size="32" />
    </a>
  </div>
</footer>
