---
import { FaGithub, FaLinkedinIn } from "react-icons/fa";
const today = new Date();
---

<footer class="text-center">
  &copy; {today.getFullYear()} Isaac de Miranda Campos. All rights reserved.
  <div class="flex gap-2 justify-center mt-2">
    <a
      href="https://twitter.com/astrodotbuild"
      title="Go to my personal LinkedIn"
      target="_blank"
    >
      <FaLinkedinIn aria-label="Linkedin icon" size="32" />
    </a>
    <a
      href="https://github.com/isaacmirandacampos"
      title="Go to my personal Github"
      target="_blank"
    >
      <FaGithub aria-label="Github icon" size="32" />
    </a>
  </div>
</footer>
